/* ==========UTRGV STYLES========== */
.header {
    background: #646469;
    margin: auto;
    border-bottom: 10px solid #CF4411;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.header-wrapper {
    max-width: 960px;
    margin: auto;
}

/* ==========Links========== */
a{
  color:#DB350F;
  text-decoration:none;
  font-weight: 500;
}
a:active, a:hover
{
  outline: 0;
  text-decoration:underline;
 }
a:focus{
      outline: 1px dotted #c3c3c3;
      text-decoration:underline;
 }


/* ==========Original CSS========== */
.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}
