/* ==========UTRGV STYLES========== */
.header {
    background: #646469;
    margin: auto;
    border-bottom: 10px solid #CF4411;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header-wrapper {
    color: white;
    font-size: 1.5em;
}

.header-wrapper img {
    padding-right: 30px;
}

.sidebar-nav {
    margin-top: 20px;
    padding: 0 25px 15px;
    list-style: none;
    background: #e7e7e5;
    border-top: 10px solid #CF4411;
    padding-top: 20px;
    list-style: none;
}

.main-content {
    padding-top: 20px;
    padding-left: 20px;
}

.wrapper {
    overflow: hidden;
}

/* ==========Links========== */
a{
  color:#DB350F;
  text-decoration:none;
  font-weight: 500;
}
a:active, a:hover
{
  outline: 0;
  text-decoration:underline;
 }
a:focus{
      outline: 1px dotted #c3c3c3;
      text-decoration:underline;
 }


/* ==========Original CSS==========
.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}
 */
